.view .entitypager {
  text-align: center;
  padding: 0em;
  margin: 0.5em 0em;
}

.entitypager li {
  display: inline-block;
  margin: 0.3em;
}

.entitypager .entitypager_count {
  display: block;
  text-align: center;
}
